@import '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
}

.hide {
  display: none;
}

h1, h2 {
  text-align: center;
}

.container {
  justify-content: space-around;
  width: 100%;
  margin: auto;
  padding: 0;

  & section form {
    background-color: lightblue;
    border-radius: 30px;
    height: 60vh;
    margin: auto;
  }
}

#start-game {
  display: flex;
  margin: auto;
}


.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#gameboard {
  height: 600px;
  width: 600px
}

.box {
  background-color: #ff66f6;
  border: 1px solid white;
  height: 33%;
  padding: 0;
  cursor: pointer;

  &.x {
    background-color: red;

  }

  &.o {
    background-color: green;
  }
}

#controls {
  display: flex;
  justify-content: space-around;

  button {
    padding: 1.5rem 2rem;
  }
}

@media (max-width: 600px) {
  h1,
  h2 {
    font-size: .9rem;
  }

  form {
    max-width: 70vw
  }

  #gameboard {
    height: 400px;
    width: 400px;
  }
}
