$body-background: rgba(120,20,0,0.2);

$h1-primary: rgba(200, 20, 20, 0.8);
$h2-primary: rgba(20, 120, 20, 0.8);
$h3-primary: rgba(20, 20, 200, 0.8);

$form-bg-primary: linear-gradient(to bottom right, rgba(120, 120, 20, 0.2), rgba(20, 10, 111, 0.2), rgba(125, 25, 205, 0.3), rgba(20, 20, 120, 0.3));

$box-shadow-color: rgba(0,0,0,0.4);

$box-color-primary: rgba(20, 44, 45, 0.1);

$box-color-x: rgba(90, 40, 90, 0.3);
$box-color-o: rgba(200, 40, 40, 0.3);
